<!doctype html>
<html lang="en">
  <head>
    <title>Demo - xstate-lit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="xstate-lit" />
    <style>
      html,
      body {
        height: 100%;
        font-family: sans-serif;
      }
      :not(:defined) {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <main>
      <lit-ts-counter>
        <a href="./index.html">View feedback demo</a>
      </lit-ts-counter>
    </main>
    <script type="module" src="../define/lit-ts-counter.ts"></script>
  </body>
</html>
