:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-button-background: #acedb4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f6f7;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.case {
  display: flex;
  padding: 32px 24px;
  align-items: center;
  gap: 21px;
  width: 348px;

  border-radius: 48px;
  border-right: 24px solid #c7cdcd;
  border-bottom: 24px solid #c7cdcd;
  background: #d6d8d8;
}

span {
  color: #737471;
  font-family: NovaMono, monospace;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  height: 100px;
  padding: 8px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;

  border-radius: 24px;
  border-top: 1px solid #b9b9b9;
  background: #faffe5;
}

button {
  color: #f6fcfc;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-right: 8px solid #98d9ad;
  border-bottom: 8px solid #98d9ad;
  background: var(--color-button-background);
}
button:hover {
  background-color: color-mix(
    in srgb,
    var(--color-button-background),
    rgb(252, 255, 176) 20%
  );
}

button:active {
  transform: translate(3px, 3px);
  transform: scale(95%);
  border-top: 2px solid #98d9ad;
  border-right: 0px solid #98d9ad;
  border-bottom: 0px solid #98d9ad;
  border-left: 2px solid #98d9ad;
}

button:focus {
  outline: 5px dashed
    color-mix(in srgb, var(--color-button-background), #145d1c 30%);
}
button:focus:not(:focus-visible) {
  outline: none;
}
