*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: grid;
  place-items: center;
}

.friendsTable {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid lightgray;
}
