.site-name {
  visibility: hidden;
}

blockquote {
  font-size: 1rem;
  color: #8e8e8e;

  > p + p {
    margin-top: 1rem;
  }
}

iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

details {
  border: 1px dotted #ccc;
  border-radius: 6px;

  &[open] > summary {
    border-bottom: 1px dotted #ccc;
  }

  > summary {
    padding: 1rem;
    cursor: pointer;
  }

  > * {
    padding: 0 1rem;
  }

  > ul, > ol {
    margin-left: 1rem;
  }

  > [class*="language-"] {
    margin: 0 1rem;
  }
}

.blm-callout {
  border-radius: 6px;
  background: #000;
  color: white;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  padding: 0;
}

.gallery li {
  list-style-type: none;
  margin-bottom: 1rem;
  text-align: center;
}

.theme-default-content:not(.custom) .gallery img {
  display: block;
  max-width: 100%;
  width: auto;
}

.icon-list {
  padding: 0;
}

.icon-list li {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 2.5rem; /* make space for image, indent text */
}

.theme-default-content:not(.custom) .icon-list img {
  display: block;
  float: left;
  margin-right: 0.5rem;
  margin-left: -2.5rem; /* pull image into margin */
  max-height: 28px; /* height of the screenshots */
  max-width: 100%;
  width: auto;
}
img[alt="Stately member"] {
  width: 1rem;
}
picture > img {
  /* Force light mode image for now */
  content: url(https://raw.githubusercontent.com/statelyai/public-assets/main/logos/xstate-logo-black-nobg.svg);
}
