/****************************
-------  VARIABLES  --------
****************************/
&:root {
  /* colors */

  --dark-gray: hsl(0, 0%, 30%);
  --gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 70%);
  --white: hsl(0, 0%, 90%);

  /* shadows */
  --box-border: var(--white) 0px 0px 0px 2px inset,
    var(--dark-gray) 0px 0px 0px 2px;
  --outer-shadow: 0px 0.5px 0.7px var(--dark-gray),
    0px 1.6px 2px -0.8px var(--dark-gray),
    0px 4.1px 5.2px -1.7px var(--dark-gray),
    0px 1px 2.6px -2.5px var(--dark-gray);
}

/****************************
-------  UNIVERSAL  --------
****************************/
* {
  transition: box-shadow 0.1s;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  outline-offset: 2px;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/****************************
-----  NATIVE ELEMENTS -----
****************************/
body {
  display: grid;
  place-content: center;
  margin-top: 2.5%;
  background: var(--light-gray);
  & h1 {
    color: var(--dark-gray);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    text-align: center;
    margin-top: -4px;
    padding-bottom: 6px;
    border-radius: 0;
    border-bottom: 1px solid var(--dark-gray);
  }
  & b {
    font-weight: 700;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: var(--white);
  box-shadow: var(--outer-shadow);
}

dialog {
  width: fit-content;
  background: var(--gray);
  padding: 12px 24px;
  box-shadow: var(--outer-shadow);
  font-weight: 700;
  transition: background 0.5s;
  & h2 {
    color: var(--dark-gray);
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding: 8px 0;
    border-bottom: 1px solid var(--dark-gray);
    border-radius: 0;
  }
  & p {
    margin: 8px 0;
    font-weight: normal;
    & span {
      font-weight: 700;
    }
  }
}
.error {
  background: red;
  font-weight: 700;
  color: white !important;
  border: 1px solid white !important;
}
input[type="date"] {
  text-align: center;
  cursor: pointer;
  color: var(--dark-gray);
  border: 1px solid var(--light-gray);
  &:disabled {
    cursor: not-allowed;
  }
}

select {
  text-align: center;
  cursor: pointer;
  color: var(--white);
  background: var(--dark-gray);
  &:hover {
    box-shadow: var(--box-border);
  }
}

button {
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-gray);
  &:hover:not(:disabled) {
    box-shadow: var(--box-border);
  }
}

/****************************
----------  UTILS  ----------
****************************/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
