/****************************
-------  VARIABLES  --------
****************************/
&:root {
  /* colors */
  --white: hsl(0 0% 95%);
  --black: hsl(0 0% 15%);
  --gray: hsl(0 10% 70%);
  --lightgray: hsl(0 20% 80%);

  /* shadows */
  --box-border: var(--gray) 0px 0px 0px 2px inset, var(--black) 0px 0px 0px 2px;
  --inner-shadow: inset 0 1px 2px hsl(0 0% 0%/0.8), 0 -1px 1px var(--gray),
    0 1px 0 var(--gray);
  --outer-shadow: 0.3px 0.5px 0.7px var(--black),
    0.8px 1.6px 2px -0.8px var(--black), 2.1px 4.1px 5.2px -1.7px var(--black),
    5px 10px 12.6px -2.5px var(--black);
}

/****************************
-------  UNIVERSAL  --------
****************************/
* {
  transition: box-shadow 0.1s;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  outline-offset: 2px;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/****************************
-----  NATIVE ELEMENTS -----
****************************/
body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  background: var(--black);
  & h1 {
    margin-top: -4px;
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    padding-bottom: 6px;
    border-radius: 0;
    border-bottom: 1px solid var(--black);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: var(--gray);
  & .error {
    background: red;
    font-weight: 700;
    color: white !important;
  }
}

dialog {
  width: fit-content;
  background: var(--gray);
  padding: 12px 24px;
  box-shadow: var(--outer-shadow);
  font-weight: 700;
  transition: background 0.5s;
  & h2 {
    color: var(--black);
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding: 8px 0;
    border-bottom: 1px solid var(--black);
    border-radius: 0;
  }
  & p {
    margin: 8px 0;
    font-weight: normal;
    & span {
      font-weight: 700;
    }
  }
}

input[type="date"] {
  cursor: pointer;
  box-shadow: var(--inner-shadow);
  color: var(--black);
  border-bottom: 1px solid var(--lightgray);
  &:disabled {
    cursor: not-allowed;
  }
}

select {
  cursor: pointer;
  color: var(--white);
  background: var(--black);
  &:hover {
    box-shadow: var(--box-border);
  }
}

button {
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--black);
  &:hover:not(:disabled) {
    box-shadow: var(--box-border);
  }
}

/****************************
----------  UTILS  ----------
****************************/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
