/* Layout styles */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.ui-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 3rem 1fr;
}

.ui-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.ui-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.ui-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: auto;
}

.ui-content p {
  line-height: 1.5;
}
