/* Layout styles */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5rem;
}

:root {
  --color-border: #555;
  --color-primary: rgba(87, 176, 234, 1);
  --color-primary-faded: rgba(87, 176, 234, 0.75);
  --color-primary-shadow: rgba(87, 176, 234, 0.75);

  --radius: 0.2rem;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  transition-property: transform, opacity;
}

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 25% 75%;
  grid-template-rows: 4rem 1fr;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-right: 1px solid var(--color-border);
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: auto;
  padding: 2rem;
}

.content code:not([class*='language']) {
  background-color: #26292c;
  height: 1.5rem;
  padding: 0 0.5ch;
  color: white;
  display: inline-block;
  border-radius: var(--radius);
  font-family: 'Source Code Pro', monospace;
}

.content pre {
  background: #26292c;
  font-family: 'Source Code Pro', monospace !important;
}

[class~='hljs'],
p,
ul {
  max-width: 40rem;
}
