/* Layout styles */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
}

:root {
  --color-text: #415364;
  --color-border: #555;
  --color-primary: rgba(87, 176, 234, 1);
  --color-primary-faded: rgba(87, 176, 234, 0.75);
  --color-primary-shadow: rgba(87, 176, 234, 0.1);
  --color-link: rgba(64, 164, 228, 1);
  --radius: 0.2rem;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  transition-property: transform, opacity;
}

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 25% 75%;
  grid-template-rows: 4rem 1fr;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow-y: auto;
}

.content {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 1rem;
  overflow: hidden;
  overflow-y: auto;
}

.content > * {
  max-width: 40rem;
  margin: 0 auto;
}

@media (max-width: 50em) {
  .content {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding: 1rem 2rem;
  }
  .sidebar {
    display: none;
  }
}

.content pre,
p,
ul {
  max-width: 40rem;
}
