.heading {
  font-weight: 700;
  color: #2b3a42;
}

.heading.h1 {
  font-size: 2rem;
}

.heading.h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.headingLink {
  position: absolute;
  display: inline-block;
  height: 100%;
  transform: translateX(calc(-100% - 0.5rem));
  text-decoration: none;
  color: #ddd;
}

.heading:not(:hover) > .headingLink {
  opacity: 0;
}

.code {
  height: 2rem;
  background-color: #e1e4e8;
  height: 1.5rem;
  padding: 0 0.5ch;
  display: inline-block;
  border-radius: var(--radius);
  font-family: 'Source Code Pro', monospace;
}

:global .gatsby-highlight-code-line {
  background-color: #4a4a4a;
}

code[class*='language-'],
pre[class*='language-'] {
  line-height: 1.1 !important;
}
