.heading {
  font-weight: 700;
  color: #2b3a42;
  padding-top: 1rem;
}

.heading > a {
  text-decoration: none;
  color: #2b3a42;
}

.heading.h1 {
  font-size: 2rem;
}

.heading.h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.heading:before {
  content: '#';
  position: absolute;
  display: inline-block;
  height: 100%;
  transform: translateX(calc(-100% - 0.5rem));
  color: var(--color-link);
  font-weight: normal;
  opacity: 0.2;
}

.heading:hover:before {
  opacity: 1;
}

.code {
  background-color: #f1f1f1;
  font-size: 80%;
  padding: 0 0.5ch;
  display: inline-block;
  border-radius: var(--radius);
  font-family: 'Source Code Pro', monospace;
}

:global .gatsby-highlight-code-line {
  background-color: #4a4a4a;
}

code[class*='language-'],
pre[class*='language-'] {
  line-height: 1.2 !important;
  font-size: 90%;
}

.anchor {
  color: var(--color-link);
  text-decoration: none;
}
.anchor:hover {
  text-decoration: underline;
}
