[data-xviz='actorRef'] {
  white-space: nowrap;

  &[data-xviz-link] {
    color: var(--xviz-active-color);
    text-decoration: underline;
    cursor: pointer;
  }

  &[data-xviz-status='stopped'] {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

[data-xviz='actorRef-name'] {
  font-weight: bold;
}

[data-xviz='actorRef-id'] {
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}
