@import './animations.scss';
@import './base.scss';
@import './sequenceDiagram.scss';
@import './popover.scss';
@import './actorRef.scss';
@import './json.scss';
@import './timestamp.scss';
@import './eventLogs.scss';
@import './eventPanel.scss';
@import './button.scss';
@import './resizable.scss';

[data-xviz='service-id'] {
  padding: var(--xviz-sp);
  font-size: var(--xviz-font-size-large);
}

[data-xviz='machine-container'] {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html,
body {
  overscroll-behavior-x: none;
}

[data-xviz='machine-foreignObject'] {
  overflow: visible;
}

[data-xviz='machine'] {
  padding: var(--xviz-sp);
  display: grid;
  max-height: 100%;
  overscroll-behavior-x: none;
}

[data-xviz='stateNode'] {
  --child-border-style: solid;
  align-self: self-start;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'state events';
  grid-column-gap: var(--gap);

  &[data-xviz-type='history'] {
    > [data-xviz='stateNode-state'] {
      border-style: dotted;
    }

    --content: 'H';
    [data-xviz='stateNode-key'] {
      &:after {
        content: var(--content);
        margin-left: 1ch;
        background: rgba(white, 0.3);
        padding: calc(var(--xviz-sp) / 4);
        font-size: var(--xviz-font-size-small);
        color: #fff;
      }
    }

    &[data-xviz-history='deep'] {
      --content: 'H*';
    }
  }

  &[data-xviz-type='final'] {
    > [data-xviz='stateNode-state'] {
      border-width: 6px;

      &:after {
        content: '';
        position: absolute;
        height: calc(100% + 8px);
        width: calc(100% + 8px);
        border: 2px solid black;
        top: -4px;
        left: -4px;
        border-radius: inherit;
      }
      // --offset: 2px;
      // content: '';
      // position: absolute;
      // height: calc(100% + var(--offset) * 2 + var(--xviz-border-width) * 2);
      // width: calc(100% + var(--offset) * 2 + var(--xviz-border-width) * 2);
      // top: calc(-1 * var(--offset) - var(--xviz-border-width) * 2);
      // left: calc(-1 * var(--offset) - var(--xviz-border-width) * 2);
      // border: inherit;
      // border-radius: calc(var(--xviz-border-radius) + var(--offset));
    }
  }

  &[data-xviz-parent-type='parallel'] {
    --child-border-style: dashed;
  }

  &[data-xviz-parent-type='machine'] {
    > [data-xviz='stateNode-state'] {
      > [data-xviz='stateNode-content'] > [data-xviz='stateNode-key'] {
        font-size: var(--xviz-font-size-large);
      }
    }
  }

  &[data-xviz-type='atomic'],
  &[data-xviz-type='final'],
  &[data-xviz-type='history'] {
    > [data-xviz='stateNode-state'] {
      // background: var(--xviz-background-transparent-color);
    }
  }

  > [data-xviz='stateNode-state'] {
    grid-area: state;
    align-self: self-start;
    border-style: var(--child-border-style);
  }

  > [data-xviz='stateNode-events'] {
    grid-area: events;
  }

  + & {
    margin-top: var(--xviz-sp);
  }

  &[data-xviz-selected] {
    --xviz-selection-offset: 4px;

    > [data-xviz='stateNode-state']:before {
      content: '';
      outline: 2px solid var(--xviz-color-selected);
      background: var(--xviz-bgcolor-selected);
      position: absolute;
      top: calc(var(--xviz-selection-offset) * -1);
      left: calc(var(--xviz-selection-offset) * -1);
      width: calc(var(--xviz-selection-offset) * 2 + 100%);
      height: calc(var(--xviz-selection-offset) * 2 + 100%);
    }
  }

  &[data-xviz-transitions='0'] {
    grid-template-columns: auto;
  }
}

[data-xviz='stateNode-state'] {
  border: 2px solid var(--xviz-border-color);
  border-radius: var(--xviz-border-radius);
}

[data-xviz='stateNode-children'] {
  display: flex;
  flex-wrap: wrap;
  padding: var(--xviz-sp) calc(var(--xviz-sp) / 2);

  > [data-xviz='stateNode'] {
    margin: calc(var(--xviz-sp) * 2);
  }
}

[data-xviz='stateNode-events'] {
  [data-xviz='eventType'] {
    padding: 0.25rem 0.75rem;
  }
}

[data-xviz='stateNode-content'] {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'key key'
    'description description'
    'invocations invocations'
    'entry exit';

  > [data-xviz='stateNode-key'] {
    grid-area: key;
  }

  > [data-xviz='stateNode-description'] {
    grid-area: description;
  }

  > [data-xviz='actions'][data-xviz-actions='entry'] {
    grid-area: entry;
  }
  > [data-xviz='actions'][data-xviz-actions='exit'] {
    grid-area: exit;
  }
}

[data-xviz='stateNode-key'] {
  padding: calc(var(--xviz-sp) / 2);
  display: flex;
  align-items: center;
}

[data-xviz='stateNode-key-text'] {
  font-weight: bold;
}

[data-xviz='stateNode-description'] {
  padding: 0 calc(var(--xviz-sp) / 2);
  max-width: 15rem;

  img {
    max-width: 200px;
  }
}

[data-xviz='event-label'] {
  transition: background-color 0.3s ease;
  cursor: var(--xviz-event-label-cursor, normal);
  border: none;
  background-color: var(--xviz-event-label-bgcolor, var(--xviz-border-color));
  color: var(--xviz-event-label-fgcolor, var(--xviz-color-foreground));
  border-radius: var(--xviz-sp);
  font-weight: bold;
  font-size: 75%;
  overflow: hidden;
  user-select: none;

  &:not(:hover) + [data-xviz='event-targets'] {
    opacity: 0.2;
  }
}

[data-xviz='stateNode-invocations'] {
  padding: calc(var(--xviz-sp) / 2);

  &:before {
    @extend %content-prefix;
    text-decoration: none;
    --content: 'invoke / ';
  }
}

[data-xviz='stateNode-events'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: self-start;
}

[data-xviz='event'] {
  margin-bottom: calc(var(--xviz-sp) / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &[data-xviz-triggered] [data-xviz='event-label'] {
    // animation: flash 0.6s ease-out both;

    // @keyframes flash {
    //   from {
    //     background-color: var(--xviz-active-color);
    //     transform: scale(1.1);
    //   }
    //   to {
    //     background-color: transparent;
    //   }
    // }
  }

  &[data-xviz-active] {
    --xviz-event-label-bgcolor: var(--xviz-semiactive-color);

    &:hover {
      --xviz-event-label-bgcolor: var(--xviz-active-color);
    }
  }

  &[data-xviz-builtin] {
    [data-xviz='eventType'] {
      font-style: italic;
    }
  }

  &[data-xviz-guarded] > [data-xviz='event-label'] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

[data-xviz='event-meta'] {
  display: none;
}

%content-prefix {
  content: var(--content);
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75%;
  color: #999;
  margin-right: 1ch;
  white-space: nowrap;
}

[data-xviz='actions'] {
  opacity: 1;
  &:empty {
    display: none;
  }

  padding: calc(var(--xviz-sp) / 2);
  --content: 'do / ';

  &[data-xviz-actions='entry'] {
    --content: 'entry / ';
  }

  &[data-xviz-actions='exit'] {
    --content: 'exit / ';
  }

  > *:before {
    @extend %content-prefix;
  }
}

[data-xviz='action'] {
  line-height: 1.5;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &[data-xviz-builtin] {
    [data-xviz='action-entry'] {
      display: none;
    }
  }

  & + & {
    &:before {
      visibility: hidden;
    }
  }
}

[data-xviz='action-payload'] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: var(--xviz-sp);
  grid-auto-rows: auto;

  > [data-xviz='action-property'] {
    grid-column: 1 / 2;
  }

  > [data-xviz='action-value'] {
    grid-column: 2 / 3;
  }
}

[data-xviz='action-entry'] {
  &[data-xviz-entry-type='undefined'] {
    display: none;
  }
}

[data-xviz='action-property'] {
  margin: 0;
}
[data-xviz='action-type'] {
  max-width: 15rem;
  font-size: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-xviz='eventType'] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &[data-xviz-keyword='done'] {
    --xviz-keyword-color: rgb(85, 255, 85);
  }
  &[data-xviz-keyword='error'] {
    --xviz-keyword-color: rgb(249, 144, 120);
  }
  &[data-xviz-keyword='after'] {
    --xviz-keyword-color: rgb(255, 228, 94);
  }
  &[data-xviz-keyword='always'] {
    --xviz-keyword-color: var(--xviz-active-color);
  }

  &[data-xviz-keyword] {
    &:before {
      content: '';
      height: calc(var(--xviz-sp) / 2);
      width: calc(var(--xviz-sp) / 2);
      border-radius: calc(var(--xviz-sp) / 2);
      background-color: var(--xviz-keyword-color);
      display: inline-block;
      border: 1px solid rgba(white, 0.5);
      margin-right: calc(var(--xviz-sp) / 2);
    }

    [data-xviz='eventType-text'] {
      margin-left: 1ch;
    }
  }
}

[data-xviz='event-targets'] {
  position: absolute;
  display: none;
}

[data-xviz='action-value'] {
  margin: 0;
}

[data-xviz='edges'] {
  // pointer-events: none;
}

[data-xviz='machine-container'][data-xviz-mode='play'] {
  --xviz-edge-stroke: rgba(255, 255, 255, 0.9);

  --xviz-event-label-bgcolor: rgba(255, 255, 255, 0.4);
  --xviz-event-label-fgcolor: white;

  [data-xviz='stateNode'] {
    &[data-xviz-active] {
      --xviz-border-color: var(--xviz-active-border-color);
    }
    &:not([data-xviz-active]) {
      * {
        transition: all 0.3s;
      }
      --xviz-border-color: var(--xviz-inactive-border-color);

      [data-xviz='actions'],
      [data-xviz='stateNode-invocations'],
      [data-xviz='stateNode-key'] {
        opacity: 0.5;
      }
    }
  }
  [data-xviz='edge'] {
    pointer-events: auto;

    &:not([data-xviz-current]) > [data-xviz='edge-path'] {
      opacity: 0.1;
    }
  }

  [data-xviz='initialEdge'] {
    &:not([data-xviz-current]) {
      opacity: 0.1;
    }
  }
}

[data-xviz='machine-container'][data-xviz-mode='read'] {
  --xviz-edge-stroke: rgba(255, 255, 255, 0.5);
  --xviz-border-color: white;
  --xviz-event-label-bgcolor: rgba(255, 255, 255, 0.25);
  --xviz-event-label-fgcolor: white;
}

[data-xviz='edge'] {
  pointer-events: auto;

  &[data-xviz-current] {
    > [data-xviz='edge-path'] {
      transition-duration: 0.6s;
    }
  }

  &[data-xviz-triggered] {
    [data-xviz='edge-path'][data-xviz-secondary] {
      // stroke: var(--xviz-active-color);
      // opacity: 1;
      // animation: xviz-edge-path-active 0.6s cubic-bezier(0, 1, 1, 1) both;

      // @keyframes xviz-edge-path-active {
      //   from {
      //     stroke-dashoffset: 0;
      //   }
      //   to {
      //     stroke-dashoffset: -1;
      //   }
      // }
    }
  }
}

[data-xviz='initialEdge-path'],
[data-xviz='edge-path'] {
  transition: stroke 0.3s;
  stroke-width: var(--xviz-stroke-width);
  stroke: var(--xviz-edge-stroke);
  stroke-dashoffset: 0;
  stroke-dasharray: 1 1;
}

[data-xviz='initialEdge-circle'] {
  fill: var(--xviz-edge-stroke);
}

[data-xviz='edge-arrow'] {
  fill: var(--xviz-edge-stroke);
}

[data-xviz='event-cond'] {
  padding: 0.25rem calc(var(--xviz-sp) / 2);

  &:before,
  &:after {
    display: inline-block;
  }
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }

  > [data-xviz='event-cond-name'] {
    display: inline-block;
  }
}

[data-xviz='action-entries'] {
  display: table;
}

[data-xviz='action-entry'] {
  display: table-row;

  > * {
    display: table-cell;
  }
}

[data-xviz='invoke'] {
  // ...
}

[data-xviz='invoke-src'] {
  display: none;
}

// JSON
[data-xviz^='json'] {
  font-family: monospace;
}
[data-xviz='json-entry'],
[data-xviz='json-item'] {
  padding-left: var(--xviz-sp);

  &[data-xviz-primitive] {
    > [data-xviz='json-key'] {
      margin-right: 1ch;
    }
    > * {
      display: inline-block;
    }
  }
}

[data-xviz='action-entries'] {
  display: none;
}

[data-xviz='sequence'] {
  td {
    border: 1px solid black;
  }
  // display: grid;
}

[data-xviz='inspector'] {
  background: var(--xviz-background-color);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'service';
  overflow: hidden;

  > [data-xviz='inspector-header'] {
    grid-area: header;
  }

  [data-xviz='service-link'] {
    padding: calc(var(--xviz-sp) / 2);
    border-bottom: 1px solid rgba(white, 0.3);
  }

  > [data-xviz='service'] {
    grid-area: service;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2rem;
    grid-template-areas:
      'content sidebar'
      'footer footer';
    overflow: hidden;

    &[hidden] {
      display: none;
    }

    > [data-xviz='machine-container'] {
      grid-area: content;
      // position: absolute;
      // height: 100%;
      // width: 100%;
      // top: 0;
      // left: 0;
    }

    > [data-xviz='service-sidebar'] {
      grid-area: sidebar;
      overflow-y: auto;
    }

    > [data-xviz='service-footer'] {
      grid-area: footer;
    }

    @media (max-width: 40rem) {
      display: block;

      &[data-xviz-view='graph'] > :not([data-xviz='machine']) {
        display: none;
      }
      &[data-xviz-view='state'] > :not([data-xviz='state']) {
        display: none;
      }
    }
  }

  @media (max-width: 40rem) {
    grid-template-areas:
      'header header'
      'service service';

    > [data-xviz='services'] {
      grid-area: service;
      height: 100%;
      width: auto;
      z-index: 1;
      justify-self: start;
      background: var(--xviz-background-color);
      transition: transform 0.3s;

      &[data-xviz-state='closed'] {
        transform: translateX(-100%);
      }
    }
  }
}

[data-xviz='service-sidebar'] {
  border-left: 1px solid rgba(white, 0.2);
  > [data-reach-tabs] {
    height: 100%;
    display: grid;
    grid-template-rows: 2rem 1fr;

    > [data-reach-tab-list] {
      display: flex;
      flex-wrap: nowrap;
    }

    [data-reach-tab-panels] {
      overflow: hidden;
    }

    [data-reach-tab-panel] {
      height: 100%;
    }
  }

  [data-reach-tab-list] {
    // background: rgba(white, 0.2);
    padding: 0.25rem;

    > [data-reach-tab] {
      color: white;

      appearance: none;
      padding: 0.25rem 0.5rem;
      background: none;
      border: none;
      font-weight: bold;
      border-radius: var(--xviz-border-radius);
      transition: background 0.3s;

      &:hover {
        background: rgba(white, 0.25);
      }

      &[aria-selected='true'] {
        background: white;
        color: black;
      }
    }
  }
}

[data-xviz='popovers'] {
  position: absolute;
  top: 0;
  left: 0;
}

[data-xviz='inspector-header'] {
  padding: var(--xviz-sp);
  display: flex;
  flex-direction: row;

  > [data-xviz='logo'] {
    height: 2rem;
  }
}

[data-xviz='state'] {
  background: var(--xviz-background-color);
  color: var(--xviz-foreground-color);
  padding: var(--xviz-sp);
}

[data-xviz='event-records'] {
  overflow-y: auto;
}

[data-xviz='event-record-name'] {
  font-family: monospace;
  font-weight: bold;
}

[data-xviz='loader'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--xviz-sp);
}

[data-xviz='loader'] > [data-xviz='logo'] {
  margin-bottom: var(--xviz-sp);
  animation: pulse 1s ease infinite both;
  height: 5rem;
  width: 5rem;

  path,
  polygon {
    fill: white;
  }
}

[data-xviz='loader-message'] {
  color: white;
}

[data-xviz='inspector'] > [data-xviz='loader'] {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

@keyframes pulse {
  from,
  to {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

[data-xviz='controls'] {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.25rem;
  margin: var(--xviz-sp);
  overflow: hidden;

  > [data-xviz='button'] {
    appearance: none;
    background: white;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.6;
    font-size: 100%;
    font-weight: bold;
    user-select: none;

    + [data-xviz='button'] {
      border-left: 1px solid #ddd;
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}

[data-xviz='stateNodeNav'] {
  &[data-xviz-children='0'] {
    [data-xviz='stateNodeNav-content']::-webkit-details-marker {
      visibility: hidden;
    }
  }
}

[data-xviz='stateNodeNav-content'] {
  padding-top: calc(var(--xviz-sp) / 2);
  padding-bottom: calc(var(--xviz-sp) / 2);
  padding-left: calc(var(--xviz-sp) * var(--xviz-depth));
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &:hover {
    background: #0088ff;
  }
}

[data-xviz='panel'][data-xviz-panel='editor'] {
  display: grid;
  grid-template-rows: 1fr 3rem;
  grid-template-areas:
    'editor'
    'actions';
  height: 100%;

  > [data-xviz='editor'] {
    grid-area: editor;
    overflow-y: scroll;
  }
}

[data-xviz='sessionSelect'] {
  margin-bottom: 1rem;
}

[data-xviz='placeholder'] {
  font-style: italic;
  padding: 1rem;
  display: block;
  text-align: center;
}
