[data-xviz] {
  --xviz-background-color: #111;
  --xviz-foreground-color: white;
  --xviz-active-color: rgb(19, 129, 201);
  --xviz-active-border-color: var(--xviz-active-color);
  --xviz-inactive-border-color: #{rgba(white, 0.2)};
  --xviz-border-width: 2px;
}

[data-xviz='machine'],
[data-xviz='service'],
[data-xviz='inspector'] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --gap: 0.5em;
  background: var(--xviz-background-color);
  color: white;

  &,
  * {
    box-sizing: border-box;
    position: relative;
  }
}

[data-xviz='service-id'] {
  padding: 1em;
  font-size: 125%;
}

[data-xviz='machine'] {
  padding: 1em;
  display: grid;
}

[data-xviz='stateNode'] {
  --child-border-style: solid;
  align-self: self-start;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'state' 'events';
  grid-column-gap: var(--gap);
  max-width: calc(100vw / var(--xviz-level));

  &[data-xviz-type='history'] {
    --content: '(history)';
    [data-xviz='stateNode-key'] {
      &:after {
        content: var(--content);
        margin-left: 1ch;
        opacity: 0.5;
      }
    }

    &[data-xviz-history='deep'] {
      --content: '(history*)';
    }
  }

  &[data-xviz-type='final'] {
    > [data-xviz='stateNode-state']:before {
      --offset: 2px;
      content: '';
      position: absolute;
      height: calc(100% + var(--offset) * 2 + var(--xviz-border-width) * 2);
      width: calc(100% + var(--offset) * 2 + var(--xviz-border-width) * 2);
      top: calc(-1 * var(--offset) - var(--xviz-border-width) * 2);
      left: calc(-1 * var(--offset) - var(--xviz-border-width) * 2);
      border: inherit;
      border-radius: calc(var(--xviz-border-radius) + var(--offset));
    }
  }

  &[data-xviz-parent-type='parallel'] {
    --child-border-style: dashed;
  }

  > [data-xviz='stateNode-state'] {
    grid-area: state;
    align-self: self-start;
    border-style: var(--child-border-style);
  }

  > [data-xviz='stateNode-events'] {
    grid-area: events;
  }

  + & {
    margin-top: 1em;
  }

  &[data-xviz-active] {
    --xviz-border-color: var(--xviz-active-border-color);
  }
  &:not([data-xviz-active]) {
    --xviz-border-color: var(--xviz-inactive-border-color);

    [data-xviz='actions'],
    [data-xviz='stateNode-key'] {
      opacity: 0.5;
    }
  }
}

[data-xviz='stateNode-state'] {
  --xviz-border-radius: 0.25em;
  border: 2px solid var(--xviz-border-color);
  border-radius: var(--xviz-border-radius);
}

[data-xviz='stateNode-children'] {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;

  > [data-xviz='stateNode'] {
    margin: 1em;
  }
}

[data-xviz='stateNode-content'] {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;

  > [data-xviz='stateNode-key'] {
    grid-column: 1 / -1;
  }
}

[data-xviz='stateNode-key'] {
  padding: 0.5em;
  font-weight: bold;
}
// [data-xviz='stateNode-key'],
[data-xviz='event-label'] {
  border: none;
  background-color: var(--xviz-border-color);
  color: var(--xviz-color-foreground);
  border-radius: 1em;
  font-weight: bold;
  font-size: 75%;
  overflow: hidden;

  &:not(:hover) + [data-xviz='event-targets'] {
    opacity: 0.2;
  }
}

[data-xviz='stateNode-invocations'] {
  padding: 0.5em;
}

[data-xviz='events'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

[data-xviz='event'] {
  margin-bottom: 0.5em;

  &[data-xviz-triggered] [data-xviz='event-label'] {
    animation: flash 0.6s ease-out both;

    @keyframes flash {
      from {
        background-color: var(--xviz-active-color);
        transform: scale(1.1);
      }
      to {
        background-color: transparent;
      }
    }
  }

  &[data-xviz-builtin] {
    [data-xviz='event-type'] {
      font-style: italic;
    }
  }

  &[data-xviz-transient] {
    [data-xviz='event-type'] {
      &:before {
        content: 'always';
        font-style: italic;
      }
    }
  }

  &[data-xviz-guarded] > [data-xviz='event-label'] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

[data-xviz='event-meta'] {
  display: none;
}

%content-prefix {
  content: var(--content);
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75%;
  color: #999;
  margin-right: 1ch;
  white-space: nowrap;
}

[data-xviz='actions'] {
  opacity: 1;
  &:empty {
    display: none;
  }

  padding: 0.5em;
  --content: 'do / ';

  &[data-xviz-actions='entry'] {
    [data-xviz='action-type']:before {
      --content: 'entry / ';
    }
  }

  &[data-xviz-actions='exit'] {
    [data-xviz='action-type']:before {
      --content: 'exit / ';
    }
  }

  &:not[data-xviz-actions] {
  }
}

[data-xviz='action'] {
  padding-bottom: 0.5em;

  &[data-xviz-builtin] {
    [data-xviz='action-entry'] {
      display: none;
    }
  }
}

[data-xviz='action-payload'] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1em;
  grid-auto-rows: auto;

  > [data-xviz='action-property'] {
    grid-column: 1 / 2;
  }

  > [data-xviz='action-value'] {
    grid-column: 2 / 3;
  }
}

[data-xviz='action-entry'] {
  &[data-xviz-entry-type='undefined'] {
    display: none;
  }
}

[data-xviz='action-property'] {
  margin: 0;
}
[data-xviz='action-type'] {
  max-width: 15em;
  font-size: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:before {
    @extend %content-prefix;
  }
}

[data-xviz='event-type'] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25em 0.75em;
}

[data-xviz='event-targets'] {
  position: absolute;
  display: none;
}

[data-xviz='action-value'] {
  margin: 0;
}

[data-xviz='edges'] {
  pointer-events: none;
}

[data-xviz='edge'] {
  &:not([data-xviz-current]) > [data-xviz='edge-path'] {
    opacity: 0.1;
  }

  &[data-xviz-triggered] {
    [data-xviz='edge-path'][data-xviz-secondary] {
      stroke: var(--xviz-active-color);
      opacity: 1;
      animation: xviz-edge-path-active 0.6s cubic-bezier(0, 1, 1, 1) both;

      @keyframes xviz-edge-path-active {
        from {
          stroke-dashoffset: 0;
        }
        to {
          stroke-dashoffset: -1;
        }
      }
    }
  }
}

[data-xviz='edge-path'] {
  stroke-width: var(--xviz-stroke-width);
  stroke: white;
  stroke-dashoffset: 0;
  stroke-dasharray: 1 1;
}

[data-xviz='event-cond'] {
  padding: 0.25em 0.5em;

  &:before,
  &:after {
    display: inline-block;
  }
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }

  > [data-xviz='event-cond-name'] {
    display: inline-block;
  }
}

[data-xviz='action-entries'] {
  display: table;
}

[data-xviz='action-entry'] {
  display: table-row;

  > * {
    display: table-cell;
  }
}

[data-xviz='invoke'] {
  // ...
}

[data-xviz='invoke-link'] {
  color: rgb(92, 148, 252);
  text-decoration: underline;
  cursor: pointer;
}

[data-xviz='invoke-id'] {
  &:before {
    text-decoration: none;
    @extend %content-prefix;
    content: 'invoke / ';
  }
}

[data-xviz='invoke-src'] {
  display: none;
}

// JSON
[data-xviz^='json'] {
  font-family: monospace;
}
[data-xviz='json-entry'],
[data-xviz='json-item'] {
  padding-left: 1em;

  &[data-xviz-primitive] {
    > [data-xviz='json-key'] {
      margin-right: 1ch;
    }
    > * {
      display: inline-block;
    }
  }
}

[data-xviz='action-entries'] {
  display: none;
}

[data-xviz='sequence'] {
  td {
    border: 1px solid black;
  }
  // display: grid;
}

[data-xviz='inspector'] {
  background: var(--xviz-background-color);
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'services service';
  overflow: hidden;

  > [data-xviz='inspector-header'] {
    grid-area: header;
  }

  > [data-xviz='services'] {
    grid-area: services;
  }

  [data-xviz='service-link'] {
    padding: 0.5em;
    border-bottom: 1px solid rgba(white, 0.3);
  }

  > [data-xviz='service'] {
    grid-area: service;
    display: grid;
    grid-template-columns: 1fr 20em;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'machine state'
      'machine events';

    &[hidden] {
      display: none;
    }

    > [data-xviz='machine'] {
      grid-area: machine;
    }

    > [data-xviz='event-records'] {
      grid-area: events;

      &:before {
        content: 'Events';
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    > [data-xviz='state'] {
      grid-area: state;

      &:before {
        content: 'State';
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    @media (max-width: 40em) {
      display: block;

      &[data-xviz-view='graph'] > :not([data-xviz='machine']) {
        display: none;
      }
      &[data-xviz-view='state'] > :not([data-xviz='state']) {
        display: none;
      }
    }
  }

  @media (max-width: 40em) {
    grid-template-areas:
      'header header'
      'service service';

    > [data-xviz='services'] {
      grid-area: service;
      height: 100%;
      width: auto;
      z-index: 1;
      justify-self: start;
      background: var(--xviz-background-color);
      transition: transform 0.3s;

      &[data-xviz-state='closed'] {
        transform: translateX(-100%);
      }
    }
  }
}

[data-xviz='inspector-header'] {
  padding: 1em;
  display: flex;
  flex-direction: row;

  > [data-xviz='inspector-action'] {
    margin-right: 1em;
  }
}

[data-xviz='inspector-action'] {
  appearance: none;
  border: none;
  background: rgba(white, 0.2);
  color: white;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

[data-xviz='state'] {
  background: var(--xviz-background-color);
  color: var(--xviz-foreground-color);
}

[data-xviz='event-records'] {
  overflow-y: auto;
}

[data-xviz='event-record-name'] {
  font-family: monospace;
  font-weight: bold;
}

[data-xviz='json-object'] {
  --placeholder: '{...}';
  --start-wrapper: '{';
  --end-wrapper: '}';

  &[data-xviz-json-empty] {
    --placeholder: '{}';
  }
}

[data-xviz='json-array'] {
  --placeholder: '[...]';
  --start-wrapper: '[';
  --end-wrapper: ']';

  &[data-xviz-json-empty] {
    --placeholder: '[]';
  }
}

[data-xviz='json-object'],
[data-xviz='json-array'] {
  --value-color: #32cdba;

  &:not([open]) {
    > [data-xviz='json-key']:after {
      content: var(--placeholder);
      color: var(--value-color);
      margin-left: 1ch;
    }
  }

  &[open] {
    > [data-xviz='json-key']:after {
      content: var(--start-wrapper);
      margin-left: 1ch;
    }
  }

  > [data-xviz='json-value']:after {
    content: var(--end-wrapper);
  }

  &[data-xviz-json-empty] {
    > [data-xviz='json-value']:before {
      opacity: 0.5;
      content: 'Empty';
      font-style: italic;
      display: block;
      padding-left: 2ch;
    }
  }

  > [data-xviz='json-value'] {
    padding-left: 2ch;
  }
}

[data-xviz='json-primitive'] {
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 1ch;
  appearance: none;

  &:not(details) {
    padding-left: 2ch;
  }

  [data-xviz='json-value'] {
    color: var(--value-color);
  }

  &[data-xviz-json-type='undefined'],
  &[data-xviz-json-type='function'] {
    > [data-xviz='json-value'] {
      font-style: italic;
    }
  }

  &[data-xviz-json-type='undefined'] {
    [data-xviz='json-value']::before {
      content: 'undefined';
    }
  }
  &[data-xviz-json-type='function'] {
    [data-xviz='json-value']::before {
      content: 'function';
    }
  }
}

[data-xviz='json-custom'] {
  padding-left: 2ch;

  > [data-xviz='json-value'] {
    padding-left: 2ch;
  }
}

[data-xviz='json-key'] {
  &:focus {
    outline: none;
  }
  &::-webkit-details-marker {
    width: 1ch;
    margin-right: 1ch;
    opacity: 0.5;
  }
}

[data-xviz='json-key'],
[data-xviz='json-value'] {
  line-height: 1.6;
}

[data-xviz='loader'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

[data-xviz='loader'] > [data-xviz='logo'] {
  margin-bottom: 1rem;
  animation: pulse 1s ease infinite both;
  height: 5em;
  width: 5em;

  path,
  polygon {
    fill: white;
  }
}

[data-xviz='loader-message'] {
  color: white;
}

[data-xviz='inspector'] > [data-xviz='loader'] {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

@keyframes pulse {
  from,
  to {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}
