[data-xviz='machine'],
[data-xviz='service'] {
  --xviz-background-color: #111;
  --xviz-active-color: rgb(19, 129, 201);
  --xviz-active-border-color: var(--xviz-active-color);
  --xviz-inactive-border-color: #{rgba(white, 0.2)};
  --xviz-border-width: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --gap: 0.5em;
  background: var(--xviz-background-color);
  color: white;

  &,
  * {
    box-sizing: border-box;
    position: relative;
  }
}

[data-xviz='service-id'] {
  padding: 1em;
  font-size: 125%;
}

[data-xviz='machine'] {
  padding: 1em;
  display: grid;
}

[data-xviz='stateNode'] {
  --child-border-style: solid;
  align-self: self-start;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'state' 'events';
  grid-column-gap: var(--gap);
  max-width: calc(100vw / var(--xviz-level));

  &[data-xviz-type='history'] {
    --content: '(history)';
    [data-xviz='stateNode-key'] {
      &:after {
        content: var(--content);
        margin-left: 1ch;
        opacity: 0.5;
      }
    }

    &[data-xviz-history='deep'] {
      --content: '(history*)';
    }
  }

  &[data-xviz-type='final'] {
    > [data-xviz='stateNode-state']:before {
      --offset: 2px;
      content: '';
      position: absolute;
      height: calc(100% + var(--offset) * 2 + var(--xviz-border-width) * 2);
      width: calc(100% + var(--offset) * 2 + var(--xviz-border-width) * 2);
      top: calc(-1 * var(--offset) - var(--xviz-border-width) * 2);
      left: calc(-1 * var(--offset) - var(--xviz-border-width) * 2);
      border: inherit;
      border-radius: calc(var(--xviz-border-radius) + var(--offset));
    }
  }

  &[data-xviz-parent-type='parallel'] {
    --child-border-style: dashed;
  }

  > [data-xviz='stateNode-state'] {
    grid-area: state;
    align-self: self-start;
    border-style: var(--child-border-style);
  }

  > [data-xviz='stateNode-events'] {
    grid-area: events;
  }

  + & {
    margin-top: 1em;
  }

  &[data-xviz-active] {
    --xviz-border-color: var(--xviz-active-border-color);
  }
  &:not([data-xviz-active]) {
    --xviz-border-color: var(--xviz-inactive-border-color);
  }
}

[data-xviz='stateNode-state'] {
  --xviz-border-radius: 0.25em;
  border: 2px solid var(--xviz-border-color);
  border-radius: var(--xviz-border-radius);
}

[data-xviz='stateNode-children'] {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;

  > [data-xviz='stateNode'] {
    margin: 1em;
  }
}

[data-xviz='stateNode-content'] {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;

  > [data-xviz='stateNode-key'] {
    grid-column: 1 / -1;
  }
}

[data-xviz='stateNode-key'] {
  padding: 0.5em;
  font-weight: bold;
}
// [data-xviz='stateNode-key'],
[data-xviz='event-label'] {
  border-width: var(--xviz-border-width);
  border-style: solid;
  border-color: var(--xviz-border-color);
  color: var(--xviz-color-foreground);
  border-radius: 1em;
  font-weight: bold;
  font-size: 75%;
  overflow: hidden;

  &:not(:hover) + [data-xviz='event-targets'] {
    opacity: 0.2;
  }
}

[data-xviz='stateNode-invocations'] {
  padding: 0.5em;
}

[data-xviz='events'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

[data-xviz='event'] {
  margin-bottom: 0.5em;

  &[data-xviz-triggered] [data-xviz='event-label'] {
    animation: flash 0.6s ease-out both;

    @keyframes flash {
      from {
        background-color: var(--xviz-active-color);
        transform: scale(1.1);
      }
      to {
        background-color: transparent;
      }
    }
  }

  &[data-xviz-builtin] {
    [data-xviz='event-type'] {
      font-style: italic;
    }
  }

  &[data-xviz-transient] {
    [data-xviz='event-type'] {
      &:before {
        content: 'transient';
        font-style: italic;
      }
    }
  }

  &[data-xviz-guarded] > [data-xviz='event-label'] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

[data-xviz='event-meta'] {
  display: none;
}

%content-prefix {
  content: var(--content);
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75%;
  color: #999;
  margin-right: 1ch;
}

[data-xviz='actions'] {
  &:empty {
    display: none;
  }

  padding: 0.5em;
  --content: 'do / ';

  &[data-xviz-actions='entry'] {
    [data-xviz='action-type']:before {
      --content: 'entry / ';
    }
  }

  &[data-xviz-actions='exit'] {
    [data-xviz='action-type']:before {
      --content: 'exit / ';
    }
  }

  &:not[data-xviz-actions] {
  }

  [data-xviz='action-type']:before {
    @extend %content-prefix;
  }
}

[data-xviz='action'] {
  padding-bottom: 0.5em;

  &[data-xviz-builtin] {
    opacity: 0.5;

    [data-xviz='action-entry'] {
      display: none;
    }
  }
}

[data-xviz='action-payload'] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1em;
  grid-auto-rows: auto;

  > [data-xviz='action-property'] {
    grid-column: 1 / 2;
  }

  > [data-xviz='action-value'] {
    grid-column: 2 / 3;
  }
}

[data-xviz='action-entry'] {
  &[data-xviz-entry-type='undefined'] {
    display: none;
  }
}

[data-xviz='action-property'] {
  margin: 0;
}
[data-xviz='action-type'] {
  max-width: 15em;
}

[data-xviz='event-type'] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-xviz='event-type'] {
  padding: 0.25em 0.5em;
}

[data-xviz='event-targets'] {
  position: absolute;
  display: none;
}

[data-xviz='action-value'] {
  margin: 0;
}

[data-xviz='edge'] {
  &:not([data-xviz-current]) * {
    opacity: 0.2;
  }

  &[data-xviz-triggered] {
    [data-xviz='edge-path'][data-xviz-secondary] {
      stroke: var(--xviz-active-color);
      opacity: 1;
      animation: xviz-edge-path-active 0.6s cubic-bezier(0, 1, 1, 1) both;

      @keyframes xviz-edge-path-active {
        from {
          stroke-dashoffset: 0;
        }
        to {
          stroke-dashoffset: -1;
        }
      }
    }
  }
}

[data-xviz='edge-path'] {
  stroke-width: var(--xviz-stroke-width);
  stroke: white;
  stroke-dashoffset: 0;
  stroke-dasharray: 1 1;
}

[data-xviz='event-cond'] {
  padding: 0.25em 0.5em;

  &:before,
  &:after {
    display: inline-block;
  }
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }

  > [data-xviz='event-cond-name'] {
    display: inline-block;
  }
}

[data-xviz='action-entries'] {
  display: table;
}

[data-xviz='action-entry'] {
  display: table-row;

  > * {
    display: table-cell;
  }
}

[data-xviz='invoke'] {
  &[data-xviz-unnamed] {
    [data-xviz='invoke-id'] {
      font-style: italic;

      &:before {
        font-style: normal;
      }
    }
  }
}

[data-xviz='invoke-id'] {
  &:before {
    @extend %content-prefix;
    content: 'invoke / ';
  }
}

[data-xviz='invoke-src'] {
  display: none;
}

// JSON
[data-xviz^='json'] {
  font-family: monospace;
}
[data-xviz='json-entry'],
[data-xviz='json-item'] {
  padding-left: 1em;

  &[data-xviz-primitive] {
    > [data-xviz='json-key'] {
      margin-right: 1ch;
    }
    > * {
      display: inline-block;
    }
  }
}

[data-xviz='json-key'] {
  &:after {
    content: ':';
  }
}

[data-xviz='action-entries'] {
  display: none;
}

[data-xviz='sequence'] {
  td {
    border: 1px solid black;
  }
  // display: grid;
}

[data-xviz='inspector'] {
  > [data-xviz='service'] {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1rem min-content 1fr;
    grid-template-areas:
      'header header'
      'machine state'
      'machine events';

    > [data-xviz='machine'] {
      grid-area: machine;
    }

    > [data-xviz='event-records'] {
      grid-area: events;

      &:before {
        content: 'Events';
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    > [data-xviz='state'] {
      grid-area: state;

      &:before {
        content: 'State';
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    @media (max-width: 40em) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1rem 1fr 1fr;
      grid-template-areas:
        'header header'
        'machine machine'
        'state events';
    }
  }
}

[data-xviz='event-records'] {
  overflow-y: auto;
}

[data-xviz='event-record-name'] {
  font-family: monospace;
  font-weight: bold;
}

[data-xviz='json-object'] {
  --placeholder: '{...}';
}

[data-xviz='json-array'] {
  --placeholder: '[...]';
}

[data-xviz='json-object'],
[data-xviz='json-array'] {
  &:not([open]) {
    > [data-xviz='json-key']:after {
      content: ': ' var(--placeholder);
    }
  }

  > [data-xviz='json-value'] {
    padding-left: 2ch;
  }
}

[data-xviz='json-primitive'] {
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 1rem;
}

[data-xviz='json-key'],
[data-xviz='json-value'] {
  line-height: 1.6;
}
