[data-xviz='eventLogs'] {
  padding: 0 0.5rem;
  overflow-y: auto;
}

table[data-xviz='eventLogs-table'] {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    position: sticky;
    top: 1px;
    background: black;
    z-index: 1;
    padding: 0.5rem 1rem;

    &:first-child {
      width: 100%;
    }
  }
}

tr[data-xviz='eventLog'] {
  font-family: inherit;

  > td {
    border-bottom: 1px solid rgba(white, 0.2);
  }
}

[data-xviz='eventLog-data'] {
  summary[data-xviz='eventLog-data-summary'] {
    padding: 0.5rem 0;
    font-weight: bold;
    &:focus {
      outline: none;
    }
    &:after {
      content: '{⋯}';
      // border: 2px solid rgba(white, 0.4);
      opacity: 0.5;
      border-radius: var(--xviz-border-radius);
      margin-left: 1ch;
      padding: 0 0.5ch;
      transition: opacity 0.3s;
    }
    &:hover:after {
      opacity: 1;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }
}

details[data-xviz='eventLog-data-details'] {
  &[open] > summary:after {
    display: none;
  }
}

[data-xviz='eventLog-summary'] {
  display: grid;
  grid-template-columns: 1rem 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'caret name timestamp'
    'caret trace trace';
  grid-row-gap: 0.5rem;
  padding: 1rem;

  &:focus {
    outline: none;
  }

  > [data-xviz='eventLog-name'] {
    grid-area: name;
  }

  > [data-xviz='eventLog-timestamp'] {
    grid-area: timestamp;
  }

  > [data-xviz='eventLog-trace'] {
    grid-area: trace;
  }

  &::-webkit-details-marker {
    grid-area: caret;
    align-self: center;
  }

  &:focus {
    outline: none;
  }
}

[data-xviz='eventLog-trace'] {
  &[data-xviz-self] {
    > [data-xviz='actorRef']:nth-child(2) {
      display: none;
    }
  }
  &:not([data-xviz-self]) {
    > [data-xviz='actorRef']:first-child:after {
      content: '→';
      margin: 0 1ch;
    }
  }
}
