:root {
  --color-primary: #056dff;
}
.step {
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem #0001;
  width: 75vw;
  max-width: 40rem;
}

.feedback > .close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.button {
  appearance: none;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: inherit;
  font-weight: bold;
  margin-right: 1rem;
  background-color: var(--color-primary);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.close-button {
  appearance: none;
  background: transparent;
  border: none;
  padding: 1rem;
}

body {
  background: #eaeaea;
  display: flex;
  place-content: center;
}

textarea {
  display: block;
  border: 2px solid #eaeaea;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
}
