/****************************
----------  SETUP  ----------
****************************/
html,
body,
button,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 100%;
  &:disabled {
    cursor: not-allowed;
  }
}

:root {
  font-family: system-ui, sans-serif, "Helvetica Neue", Roboto, Arial;
  line-height: 1;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input {
    accent-color: var(--primary-color);
    cursor: pointer;
  }
  & button:disabled {
    opacity: 0.5;
  }
}

/****************************
----------  UTILS  ----------
****************************/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex {
  display: flex;
}

.gap8 {
  gap: 8px;
}
